/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin: 25px 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* 
    Document   : 960
    Created on : Feb 18, 2012, 11:05:59 PM
    Modifier   : Dash
    Description:
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_3 {
	width: 92%;
	margin-left: auto;
	margin-right: auto;
        max-width: 1000px;
        min-width: 600px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 3 Columns
----------------------------------------------------------------------------------------------------*/


.container_3 .grid_1 {
	width:31.8%;
}

.container_3 .grid_2 {
	width:66.2%;
}

.container_3 .grid_3 {
	width:100%;
}



/* Prefix Extra Space >> 3 Columns
----------------------------------------------------------------------------------------------------*/


.container_3 .prefix_1 {
	padding-left:33.333%;
}

.container_3 .prefix_2 {
	padding-left:66.667%;
}



/* Suffix Extra Space >> 3 Columns
----------------------------------------------------------------------------------------------------*/


.container_3 .suffix_1 {
	padding-right:33.333%;
}

.container_3 .suffix_2 {
	padding-right:66.667%;
}



/* Push Space >> 3 Columns
----------------------------------------------------------------------------------------------------*/


.container_3 .push_1 {
	left:33.333%;
}

.container_3 .push_2 {
	left:66.667%;
}



/* Pull Space >> 3 Columns
----------------------------------------------------------------------------------------------------*/


.container_3 .pull_1 {
	left:-33.333%;
}

.container_3 .pull_2 {
	left:-66.667%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/************************************************************************************
-------------------------------------------------------------------------------------
        
	"styles.css"
	@desc	main layout rules for iamdash.net
	@author Dave Ashman <developer@iamdash.net>
        
-------------------------------------------------------------------------------------
************************************************************************************/

/*	Global
---------------------------------------------------------------*/

body{
    /*background: #f4f2eb url('/images/common/bg-flowers.png') repeat-y 50% 0;*/
    background: #f4f2eb;
     border-bottom: 10px solid #000;
    border-top: 10px solid #000;
    color: #4a483f;
    font-family: Georgia, Times New Roman, Times, serif;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.6em;
    padding-top: 10px;
    text-shadow: 0px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);
    width: 100%;
}
body.overlay{
    border-top: none;
}
#wrapper{
}

/*	Header and nav
---------------------------------------------------------------*/

#logo{
    background: #000 url('/images/common/logo.png') no-repeat 10px;
    color: #fff;
    text-indent: -999em
}
img#flower{
    margin-bottom: 20px;
}
.page-header{
}

nav#page-nav li{
    float: left;
    margin-right: 3px;
}


/*	Headings
---------------------------------------------------------------*/

h1,h2,h3,h4{
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    /*font-family: Georgia,Baskerville;*/
    text-transform: lowercase;
    line-height: 34px!important;
}

#logo h1{
    line-height: 34px;
}
h2,
h3{
    
    font-weight: bold;
    
    margin-bottom: 40px;
    text-indent: 10px
}

#logo h2{
    position: absolute;
    top: -999em;
    text-indent: -999em;
}
#intro h2{
    background: url(/images/common/border-top.gif) repeat-x bottom;
    color: #b4b1a2;
    /*font-family: Georgia,Baskerville;*/
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 1.1em!important;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-indent: 0;
    text-shadow: 0px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);    
}
.page-header h2{
    background: none;
}

h2,h3{
    text-shadow: none;
}
h2{
    background: #500000;
    color: #fff;
    margin-bottom: 0;
}

h2 span.alpha{
    border-top: none;
}

h3{
    background: url(/images/common/border-top.gif) repeat-x top;
    line-height: 54px!important;
    margin-bottom: 0;
    text-indent: 0;
}
#page-footer h2{
    background: none;
    padding: 0;
    margin-bottom: 0;
    text-indent: 5px    ;
}

/*	Layout elements
---------------------------------------------------------------*/

header{
    margin-bottom: 0;
}
#intro header{
    height: auto;
}
#intro section:first-child{
}
#page-footer header{
    margin: 0
}
section{
    float: left;
    width: 100%;
}
section section{
    
}
article{
    background: url(/images/common/border-top.gif) repeat-x bottom;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.row{
    clear: both;
    float: left;
    padding: 20px 0 10px 0;
    position: relative;
    width: 100%;
}
#page-footer.row{
    padding-top: 20px;
    position: relative;
}
.section-content{
    background: url(/images/common/border-top.gif) repeat-x top;
    margin-bottom: 20px;
    padding-top: 20px;
}
article#intro,
article#more-about{
    padding-bottom: 20px;
}

/*	Links
---------------------------------------------------------------*/

a{     
    background: #c3c1bc;
    border-bottom: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    line-height: 20px;
    padding: 3px;
    text-decoration: none;
    text-transform: lowercase;
    text-shadow: none;     
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}
a:hover{
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;    
    background: #3FA9F5;
    color: #fff;
}

/*	Nav links ----*/

nav {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
}
nav a{
    background: #500000;
    color: #fff;
    display: block;
    font-weight: 600;
    line-height: 34px;
    padding: 0 10px; 
}
nav .active a{
    background: #840000;
    color: #fff;
}
/*	Section navs
---------------------------------------------------------------*/

.section-nav{
    float: left;
    margin-right: -80px;
}
.section-nav li{
    float: left;
    margin-bottom: 3px;
    margin-right: 3px;
}
nav.section-nav a{
    background: #B4B1A2;
}
nav.section-nav a:hover,
nav.section-nav a.active,
nav.section-nav a.active:hover{
    background: #4A483F;
}
nav.section-nav a.active{
    cursor: default;
}

/*	Up down links
---------------------------------------------------------------*/

section .up-down{
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: -2px;
    top: 20px;
    width: 70px;
}
#page-footer .up-down{
    float: right;
    right: -5px!important;
    top: 20px;
}
#page-footer .up-down a.previous{
    margin-right: 5px
}
article#get-in-touch section .up-down{
    width: 34px;
}
.up-down a{
    display: block;
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0;
    text-indent: -999em;
    width: 32px;
}
.up-down a.next{
    background: url('/images/icons/arrow-down.png') no-repeat bottom left;
    margin-right: 3px;
}
.up-down a.next:hover{
    background: url('/images/icons/arrow-down.png') no-repeat top left;
}
.up-down a.previous{
    background: url('/images/icons/arrow-up.png') no-repeat top left;
    margin-right: 0;
}
.up-down a.previous:hover{
    background: url('/images/icons/arrow-up.png') no-repeat bottom left;
}


/*	Misc type
---------------------------------------------------------------*/

p{
    margin: 0 0 10px 0!important;
}

/*	Lists
---------------------------------------------------------------*/

dl{
    line-height: 1.4em;
}
dt{
    color: #500000;
    font-weight: bold;
    text-shadow-color: #fff;
}
dd{
    margin-bottom: 10px;
}
dl.techie-stuff{
    color: #827f71;
    font-size: 11px;
    line-height: 1.4em;
    margin-top: 30px;
}
dl.techie-stuff dt{
    color: #827f71;
}

/*	Project thumbs
---------------------------------------------------------------*/

#project-images ul{
    list-style: none!important;
}
#project-images{
    background: url(/images/common/border-top.gif) repeat-x top;
    float: left;
    margin-bottom: 0;
    padding-top: 20px;
    width:100%;
}
#project-thumbs a{
    background: none;
    display: block;
    float: left;
    height: auto!important;
    margin-bottom: 10px;
    padding: 0;
    
}
#project-thumbs img{
    background: #fff;
    border: 1px solid #999;
    width: 100%;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;    
}
#project-thumbs img.highlighted{
    border: 1px solid #999;
    opacity: 1;
    width: 100%;
}


/* Social media links
-------------------------------------------------------------- */

ul.social-links{
    list-style: none;
}
ul.social-links li{
	float: left;
	height: 32px;
	margin-right: 5px;
	width: 32px;
}
.social-links a{
	background-position: 0 0;
	background-repeat: 0 0;
        border: 1px solid #b4b1a2;
	display: block;
	height: 32px;
        padding: 0;
	text-indent: -999em;
	width: 32px;
}
ul.social-links li a:hover{
    background-color: none!important;
    background-position: 0 -32px;
      
}
.flickr a,
.flickr a:hover{	background: url('/images/icons/flickr.png');		}
.linked-in a,
.linked-in a:hover{	background: url('/images/icons/linked-in.png');	}
.delicious a,
.delicious a:hover{	background: url('/images/icons/delicious.png');	}
.last-fm a,
.last-fm a:hover{	background: url('/images/icons/last-fm.png');	}