/* line 17, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, scss/main_style.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 15, scss/main_style.scss */
.clearfix {
  display: inline-block;
}

/* line 19, scss/main_style.scss */
* html .clearfix {
  height: 1%;
}

/* line 23, scss/main_style.scss */
.clearfix {
  display: block;
}

/* line 120, scss/main_style.scss */
#wrapper {
  float: left;
  margin-right: 20px;
  width: 940px;
  float: none;
  margin: 20px auto;
  max-width: 1200px;
  width: 97.917%;
}
/* line 103, scss/main_style.scss */
#wrapper:before, #wrapper:after {
  content: "";
  display: table;
}
/* line 108, scss/main_style.scss */
#wrapper:after {
  clear: both;
}
/* line 113, scss/main_style.scss */
#wrapper {
  zoom: 1;
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {
  /* line 120, scss/main_style.scss */
  #wrapper {
    width: 330px!important;
  }
}
@media screen and (max-width:1024px) {
  /* line 120, scss/main_style.scss */
  #wrapper {
    overflow: hidden;
    width: 900px;
  }
}

/* line 137, scss/main_style.scss */
.row {
  float: left;
  margin-right: 20px;
  width: 940px;
  margin-right: 0;
  min-height: 1000px;
  padding-top: 96px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
/* line 103, scss/main_style.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 108, scss/main_style.scss */
.row:after {
  clear: both;
}
/* line 113, scss/main_style.scss */
.row {
  zoom: 1;
}
@media screen and (max-width:768px) {
  /* line 137, scss/main_style.scss */
  .row {
    clear: both;
  }
}
@media screen and (max-width:1024px) {
  /* line 137, scss/main_style.scss */
  .row {
    margin-bottom: 20px;
    padding-top: 100px;
    width: 900px;
  }
}

/* line 155, scss/main_style.scss */
article.row section.row {
  min-height: 100px!important;
}

/* line 158, scss/main_style.scss */
#intro.row {
  padding-top: 75px;
}
@media screen and (max-width:1024px) {
  /* line 158, scss/main_style.scss */
  #intro.row {
    padding-top: 100px;
  }
}

/* line 164, scss/main_style.scss */
#get-in-touch.row {
  min-height: 100px;
}

/* line 167, scss/main_style.scss */
#page-header.row {
  margin-top: 0;
  min-height: 53px;
  padding-top: 0;
  position: fixed;
  z-index: 3000;
}

/* line 175, scss/main_style.scss */
.row .row {
  padding-top: 0;
}

/* line 179, scss/main_style.scss */
.section-header,
#logo {
  float: left;
  margin-right: 20px;
  width: 380px;
}
/* line 103, scss/main_style.scss */
.section-header:before, .section-header:after,
#logo:before,
#logo:after {
  content: "";
  display: table;
}
/* line 108, scss/main_style.scss */
.section-header:after,
#logo:after {
  clear: both;
}
/* line 113, scss/main_style.scss */
.section-header,
#logo {
  zoom: 1;
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {
  /* line 179, scss/main_style.scss */
  .section-header,
  #logo {
    width: 330px!important;
  }
}
@media screen and (max-width:768px) {
  /* line 179, scss/main_style.scss */
  .section-header,
  #logo {
    clear: both;
  }
}
@media screen and (max-width:1024px) {
  /* line 179, scss/main_style.scss */
  .section-header,
  #logo {
    clear: both;
  }
}

@media screen and (max-width:768px) {
  /* line 194, scss/main_style.scss */
  header#logo,
  header.section-header {
    clear: both;
  }
}
@media screen and (max-width:1024px) {
  /* line 194, scss/main_style.scss */
  header#logo,
  header.section-header {
    clear: both;
    margin-bottom: 3px;
    width: 100%;
  }
}

/* line 207, scss/main_style.scss */
.section-content,
.section-intro,
.section-nav,
#page-nav {
  float: left;
  margin-right: 20px;
  width: 620px;
  margin-right: 0;
  width: 66.666%;
}
/* line 103, scss/main_style.scss */
.section-content:before, .section-content:after,
.section-intro:before,
.section-intro:after,
.section-nav:before,
.section-nav:after,
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
/* line 108, scss/main_style.scss */
.section-content:after,
.section-intro:after,
.section-nav:after,
#page-nav:after {
  clear: both;
}
/* line 113, scss/main_style.scss */
.section-content,
.section-intro,
.section-nav,
#page-nav {
  zoom: 1;
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {
  /* line 207, scss/main_style.scss */
  .section-content,
  .section-intro,
  .section-nav,
  #page-nav {
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    width: 300px!important;
  }
}
@media screen and (max-width:768px) {
  /* line 207, scss/main_style.scss */
  .section-content,
  .section-intro,
  .section-nav,
  #page-nav {
    clear: both;
    width: 100%;
  }
}
@media screen and (max-width:1024px) {
  /* line 207, scss/main_style.scss */
  .section-content,
  .section-intro,
  .section-nav,
  #page-nav {
    clear: both;
    width: 100%;
  }
}

/* line 227, scss/main_style.scss */
.section-nav {
  float: left;
  margin-right: 20px;
  width: 780px;
}

@media screen and (max-width:1024px) {
  /* line 230, scss/main_style.scss */
  #intro .section-content {
    width: 700px;
  }
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {
  /* line 235, scss/main_style.scss */
  .section-intro {
    padding: 0;
    width: 320px!important;
  }
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {
  /* line 241, scss/main_style.scss */
  .section-intro section {
    padding: 10px;
    width: 300px!important;
  }
}

@media screen and (max-width:1024px) {
  /* line 248, scss/main_style.scss */
  img#flower {
    position: absolute;
    right: 40px;
    top: 100px;
    width: 120px;
  }
}

/* line 259, scss/main_style.scss */
body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  text-shadow: white 1px 1px 0px;
  background: #f4f2eb url("/images/common/bg-flowers.png") fixed;
  color: #403f39;
  font-weight: 500;
}

/* line 267, scss/main_style.scss */
#logo h1 {
  color: #fff;
  background-color: #500000;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: black 1px 1px 0px;
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background: #000;
  font-size: 16px;
}

/* line 274, scss/main_style.scss */
h1, h2, h3 {
  text-transform: lowercase!important;
}

/*h2{
	@include text-dark-bg;
	@include block-line-height;

	font-size: 16px;
}*/
/* line 283, scss/main_style.scss */
h3, dt {
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #B4B1A2;
  background-color: #b4b1a2;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: #b4b1a2 1px 1px 0px;
  color: #fff;
  font-size: 14px;
}

/* line 291, scss/main_style.scss */
h2 {
  text-shadow: white 2px 2px 0px;
  background: none;
  color: #363530!important;
  font-size: 275%;
  font-weight: bold;
  height: auto;
  letter-spacing: -2px;
  line-height: 0.9em;
  margin-bottom: 20px;
  padding: 0;
  text-indent: 0;
  text-transform: lowercase;
}

/* line 309, scss/main_style.scss */
#logo h2 {
  display: none;
}

/* line 312, scss/main_style.scss */
p, dd {
  margin-bottom: 20px;
}

/* line 315, scss/main_style.scss */
dt {
  background: #dcdac8;
  color: #fff;
  clear: both;
  float: left;
  margin-bottom: 7px;
  padding: 0 5px;
  text-indent: 0;
}

/* line 324, scss/main_style.scss */
dd {
  clear: both;
  float: left;
}

/* line 329, scss/main_style.scss */
dl.techie-stuff {
  font-size: 11px!important;
  margin-top: 30px;
}

/* line 333, scss/main_style.scss */
dl.techie-stuff dt {
  background: #B4B1A2;
  color: #fff;
  font-size: 11px!important;
  height: 20px;
  line-height: 20px;
  text-shadow: black 0 0 0px;
}

/* line 346, scss/main_style.scss */
a {
  -webkit-transition: background 500ms ease;
  -moz-transition: background 500ms ease;
  -o-transition: background 500ms ease;
  transition: background 500ms ease;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: white 0 0 0px;
  background: #b4b1a2;
  color: #fff;
  padding: 3px;
  text-decoration: none;
}

/* line 359, scss/main_style.scss */
a:hover {
  background: #500000;
}

/* line 363, scss/main_style.scss */
.section-nav li {
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  float: left;
  margin-right: 3px;
}

/* line 369, scss/main_style.scss */
.up-down {
  float: left;
  margin-bottom: 3px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 66px;
  z-index: 4000;
}
@media screen and (max-width:1024px) {
  /* line 369, scss/main_style.scss */
  .up-down {
    right: 0;
    margin-right: -3px;
    z-index: 4000;
  }
}

/* line 383, scss/main_style.scss */
#page-footer .up-down {
  right: 0;
}

/* line 386, scss/main_style.scss */
#intro .up-down {
  right: 0;
}

/* line 392, scss/main_style.scss */
.up-down a,
.section-nav li a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #B4B1A2;
  background-color: #b4b1a2;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: #b4b1a2 1px 1px 0px;
  background: #dcdac8;
  color: #fff;
  padding: 0 5px;
  text-indent: 0;
}

/* line 401, scss/main_style.scss */
.section-nav li a:hover {
  background-color: #b4b1a2;
}

/* line 405, scss/main_style.scss */
.section-nav li a.active {
  text-shadow: #b4b1a2 0 0 0px;
  background-color: #500000;
  cursor: default;
}

/* line 413, scss/main_style.scss */
.up-down a {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 3px;
  padding: 0;
  text-indent: -999em;
  width: 30px;
}

/* line 423, scss/main_style.scss */
.up-down a.next {
  background: url("/images/icons/arrow-down.png") no-repeat bottom left;
}

/* line 426, scss/main_style.scss */
.up-down a.next:hover {
  background: url("/images/icons/arrow-down.png") no-repeat top left;
}

/* line 429, scss/main_style.scss */
.up-down a.previous {
  background: url("/images/icons/arrow-up.png") no-repeat top left;
}

/* line 432, scss/main_style.scss */
.up-down a.previous:hover {
  background: url("/images/icons/arrow-up.png") no-repeat bottom left;
}

@media screen and (max-width:1024px) {
  /* line 436, scss/main_style.scss */
  #get-in-touch .up-down {
    width: 30px;
  }
}

/* line 444, scss/main_style.scss */
#project-images {
  margin-top: 20px;
}

/* line 448, scss/main_style.scss */
#project-images li {
  float: left;
  margin-right: 20px;
  width: 380px;
  margin-bottom: 20px;
}
@media screen and (max-width:1024px) {
  /* line 448, scss/main_style.scss */
  #project-images li {
    margin-right: 18px;
    width: 288px;
  }
}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {
  /* line 448, scss/main_style.scss */
  #project-images li {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

/* line 461, scss/main_style.scss */
#project-images li img {
  width: 100%;
}

/* line 464, scss/main_style.scss */
#project-images img.active-project {
  outline: 1px inset #000;
}

/* line 467, scss/main_style.scss */
#project-images li.omega {
  margin-right: 0!important;
}

/* Social media links
-------------------------------------------------------------- */
/* line 473, scss/main_style.scss */
div#contact-links {
  height: 30px;
  margin-top: 60px;
  position: relative;
  width: 100%;
}

/* line 479, scss/main_style.scss */
#contact-links .up-down {
  top: 0;
}

/* line 482, scss/main_style.scss */
ul.social-links {
  float: left;
  list-style: none;
}

/* line 486, scss/main_style.scss */
ul.social-links li {
  float: left;
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

/* line 492, scss/main_style.scss */
.social-links a {
  background-position: 0 0;
  background-repeat: 0 0;
  border: 1px solid #eee;
  display: block;
  height: 30px;
  padding: 0;
  text-indent: -999em;
  width: 30px;
}

/* line 502, scss/main_style.scss */
ul.social-links li a:hover {
  background-color: none!important;
  background-position: 0 -30px;
}

/* line 508, scss/main_style.scss */
.flickr a,
.flickr a:hover {
  background: url("/images/icons/flickr.png");
}

/* line 510, scss/main_style.scss */
.linked-in a,
.linked-in a:hover {
  background: url("/images/icons/linked-in.png");
}

/* line 512, scss/main_style.scss */
.delicious a,
.delicious a:hover {
  background: url("/images/icons/delicious.png");
}

/* line 514, scss/main_style.scss */
.last-fm a,
.last-fm a:hover {
  background: url("/images/icons/last-fm.png");
}
