/** iamdash main stylesheet.css	**/
/* line 17, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("/fonts/League_Gothic-webfont.eot");
  src: url("/fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/League_Gothic-webfont.woff") format("woff"), url("/fonts/League_Gothic-webfont.ttf") format("truetype"), url("/fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 16, scss/main_style.scss */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 27, scss/main_style.scss */
.clearfix {
  display: inline-block; }

/* line 31, scss/main_style.scss */
* html .clearfix {
  height: 1%; }

/* line 35, scss/main_style.scss */
.clearfix {
  display: block; }

/* line 155, scss/main_style.scss */
body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 21px;
  text-shadow: white 1px 1px 0px;
  background: #efeee3;
  background: #efeee3 url("/images/common/bg.png") fixed;
  color: #403f39;
  font-weight: 500; }
  @media only screen and (max-width : 320px) {
    /* line 155, scss/main_style.scss */
    body {
      max-width: 320px;
      width: 320px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 155, scss/main_style.scss */
    body {
      max-width: 600px;
      margin: 10px 0 0 0;
      width: 600px!important;
      overflow: hidden!important; } }

/* line 175, scss/main_style.scss */
#wrapper {
  float: left;
  margin-right: 20px;
  width: 940px;
  float: none;
  margin: 20px auto;
  max-width: 1200px;
  width: 97.917%;
  min-height: 100px; }
  /* line 139, scss/main_style.scss */
  #wrapper:before, #wrapper:after {
    content: "";
    display: table; }
  /* line 144, scss/main_style.scss */
  #wrapper:after {
    clear: both; }
  /* line 149, scss/main_style.scss */
  #wrapper {
    zoom: 1; }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 175, scss/main_style.scss */
    #wrapper {
      margin: 0;
      max-width: 480px;
      width: 480px; } }
  @media (max-width: 1024px) {
    /* line 175, scss/main_style.scss */
    #wrapper {
      margin-top: 10px;
      max-width: 990px;
      min-height: 320px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 175, scss/main_style.scss */
    #wrapper {
      margin: 0;
      width: 320px!important;
      overflow: hidden; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 175, scss/main_style.scss */
    #wrapper {
      margin: 10px;
      max-width: 748px;
      width: 748px!important; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* line 175, scss/main_style.scss */
    #wrapper {
      margin: 10px;
      width: 1004px; } }

/* line 211, scss/main_style.scss */
.row {
  float: left;
  margin-right: 20px;
  width: 940px;
  margin-right: 0;
  min-height: 1000px;
  padding-top: 71px;
  position: relative;
  width: 100%;
  margin-bottom: 20px; }
  /* line 139, scss/main_style.scss */
  .row:before, .row:after {
    content: "";
    display: table; }
  /* line 144, scss/main_style.scss */
  .row:after {
    clear: both; }
  /* line 149, scss/main_style.scss */
  .row {
    zoom: 1; }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 211, scss/main_style.scss */
    .row {
      margin: 0;
      min-height: 480px;
      padding-top: 0;
      width: 320px!important; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 211, scss/main_style.scss */
    .row {
      margin: 0;
      min-height: 320px;
      max-width: 480px;
      padding-top: 0;
      width: 480px; } }
  @media (max-width: 1024px) {
    /* line 211, scss/main_style.scss */
    .row {
      max-width: 990px;
      min-height: 520px;
      padding-top: 23px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 211, scss/main_style.scss */
    .row {
      min-height: 980px;
      padding-top: 20px;
      width: 748px;
      overflow: hidden; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* line 211, scss/main_style.scss */
    .row {
      min-height: 675px;
      padding-top: 20px;
      width: 1004px; } }

/* line 252, scss/main_style.scss */
article.row section.row {
  min-height: 100px!important; }

/* line 257, scss/main_style.scss */
#intro.row {
  padding-top: 75px; }
  @media only screen and (max-width : 320px) {
    /* line 257, scss/main_style.scss */
    #intro.row {
      margin-top: 100px;
      padding-top: 0; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 257, scss/main_style.scss */
    #intro.row {
      min-height: 980px;
      width: 748px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* line 257, scss/main_style.scss */
    #intro.row {
      width: 1004px; } }

/* line 272, scss/main_style.scss */
#get-in-touch.row,
#page-footer.row {
  min-height: 500px; }
  @media only screen and (max-width : 320px) {
    /* line 272, scss/main_style.scss */
    #get-in-touch.row,
    #page-footer.row {
      min-height: 480px; } }

@media (max-width: 1024px) {
  /* line 279, scss/main_style.scss */
  #get-in-touch.row {
    min-height: 490px; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* line 279, scss/main_style.scss */
  #get-in-touch.row {
    min-height: 675px; } }

@media only screen and (max-width : 320px) {
  /* line 287, scss/main_style.scss */
  #page-footer.row {
    min-height: 30px; } }

/* line 292, scss/main_style.scss */
#page-header.row {
  margin-top: 0;
  height: 30px;
  min-height: 30px;
  padding-top: 0;
  position: fixed; }
  @media only screen and (max-width : 320px) {
    /* line 292, scss/main_style.scss */
    #page-header.row {
      position: relative;
      width: 320px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 292, scss/main_style.scss */
    #page-header.row {
      position: relative;
      width: 480px; } }
  @media (max-width: 1024px) {
    /* line 292, scss/main_style.scss */
    #page-header.row {
      background: #000;
      position: relative; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 292, scss/main_style.scss */
    #page-header.row {
      margin-top: 0; } }

/* line 316, scss/main_style.scss */
.row .row {
  padding-top: 0; }

/* line 320, scss/main_style.scss */
.section-header,
#logo {
  float: left;
  margin-right: 20px;
  width: 380px; }
  /* line 139, scss/main_style.scss */
  .section-header:before, .section-header:after,
  #logo:before,
  #logo:after {
    content: "";
    display: table; }
  /* line 144, scss/main_style.scss */
  .section-header:after,
  #logo:after {
    clear: both; }
  /* line 149, scss/main_style.scss */
  .section-header,
  #logo {
    zoom: 1; }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 320, scss/main_style.scss */
    .section-header,
    #logo {
      margin-right: 0;
      width: 320px; } }

@media only screen and (max-width : 320px) {
  /* line 329, scss/main_style.scss */
  #page-header header {
    margin-bottom: 1px; } }

/* line 337, scss/main_style.scss */
.section-content,
.section-intro,
.section-nav,
#page-nav {
  float: left;
  margin-right: 20px;
  width: 620px;
  margin-right: 0;
  width: 66.666%; }
  /* line 139, scss/main_style.scss */
  .section-content:before, .section-content:after,
  .section-intro:before,
  .section-intro:after,
  .section-nav:before,
  .section-nav:after,
  #page-nav:before,
  #page-nav:after {
    content: "";
    display: table; }
  /* line 144, scss/main_style.scss */
  .section-content:after,
  .section-intro:after,
  .section-nav:after,
  #page-nav:after {
    clear: both; }
  /* line 149, scss/main_style.scss */
  .section-content,
  .section-intro,
  .section-nav,
  #page-nav {
    zoom: 1; }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 337, scss/main_style.scss */
    .section-content,
    .section-intro,
    .section-nav,
    #page-nav {
      margin-right: 0;
      width: 300px!important; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* line 337, scss/main_style.scss */
    .section-content,
    .section-intro,
    .section-nav,
    #page-nav {
      width: 100%; } }

@media only screen and (max-width : 320px) and (orientation : portrait) {
  /* line 351, scss/main_style.scss */
  #page-nav {
    width: 320px!important; } }

@media only screen and (max-width : 320px) and (orientation : portrait) {
  /* line 358, scss/main_style.scss */
  .section-content {
    padding: 10px;
    width: 300px; } }
@media only screen and (min-width : 321px) and (max-device-width : 480px) {
  /* line 358, scss/main_style.scss */
  .section-content {
    padding: 10px;
    width: 460px; } }
@media (max-width: 1024px) {
  /* line 358, scss/main_style.scss */
  .section-content {
    width: 660px; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* line 358, scss/main_style.scss */
  .section-content {
    width: 748px; } }

/* line 375, scss/main_style.scss */
.section-nav {
  float: left;
  margin-right: 20px;
  width: 780px; }

@media only screen and (max-width : 320px) {
  /* line 378, scss/main_style.scss */
  #intro .section-content header {
    margin-bottom: 0; } }

@media (max-width: 1024px) {
  /* line 384, scss/main_style.scss */
  img#flower {
    position: absolute;
    right: 10px;
    top: 40px;
    width: 300px; } }
@media only screen and (max-width : 320px) and (orientation : portrait) {
  /* line 384, scss/main_style.scss */
  img#flower {
    position: absolute;
    right: 60px;
    top: 20px;
    width: 200px;
    display: none; } }
@media only screen and (min-width : 321px)  and (max-device-width : 480px) {
  /* line 384, scss/main_style.scss */
  img#flower {
    position: absolute;
    right: 10px;
    top: 40px;
    width: 100px; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* line 384, scss/main_style.scss */
  img#flower {
    position: absolute;
    right: -20px;
    top: 80px;
    width: 180px; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* line 384, scss/main_style.scss */
  img#flower {
    position: absolute;
    right: -20px;
    top: 80px;
    width: 260px; } }

/* line 421, scss/main_style.scss */
#logo h1 {
  color: #fff;
  background-color: #500000;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: black 1px 1px 0px;
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background: #000;
  font-size: 16px;
  letter-spacing: -1px; }
  @media only screen and (max-width : 320px) {
    /* line 421, scss/main_style.scss */
    #logo h1 {
      font-weight: bold;
      text-align: center;
      width: 320px!important; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 421, scss/main_style.scss */
    #logo h1 {
      font-weight: bold;
      text-align: center;
      width: 480px!important; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* line 421, scss/main_style.scss */
    #logo h1 {
      font-weight: bold;
      text-align: center;
      width: 1004px; } }

/* line 444, scss/main_style.scss */
h1, h2, h3 {
  text-transform: lowercase!important; }

/* line 448, scss/main_style.scss */
h3, dt {
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #B4B1A2;
  background-color: #b4b1a2;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: #b4b1a2 1px 1px 0px;
  color: #fff;
  font-size: 14px; }

/* line 457, scss/main_style.scss */
h2 {
  text-shadow: white 2px 2px 0px;
  font-family: "LeagueGothicRegular", Helvetica, Arial;
  background: none;
  color: #363530!important;
  font-size: 50px;
  height: auto;
  letter-spacing: -2px;
  line-height: 0.9em;
  margin-bottom: 20px;
  padding: 0;
  text-indent: 0;
  text-transform: lowercase; }
  @media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
    /* line 457, scss/main_style.scss */
    h2 {
      line-height: 40px;
      margin-bottom: 5px;
      margin-top: 3px;
      text-indent: 10px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 457, scss/main_style.scss */
    h2 {
      font-size: 32px!important;
      letter-spacing: -1px;
      line-height: 45px;
      width: 300px!important; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 457, scss/main_style.scss */
    h2 {
      font-size: 25px;
      letter-spacing: -2px;
      line-height: 40px;
      margin-bottom: 20px; } }

/* line 499, scss/main_style.scss */
#intro h2 {
  font-size: 75px;
  letter-spacing: -2px; }
  @media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
    /* line 499, scss/main_style.scss */
    #intro h2 {
      font-size: 20px;
      letter-spacing: -1px;
      line-height: 24px;
      margin-bottom: 20px;
      text-indent: 0; } }
  @media only screen and (max-width : 320px) {
    /* line 499, scss/main_style.scss */
    #intro h2 {
      width: 200px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 499, scss/main_style.scss */
    #intro h2 {
      font-size: 25px;
      margin-bottom: 5px;
      width: 340px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 499, scss/main_style.scss */
    #intro h2 {
      width: 560px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 499, scss/main_style.scss */
    #intro h2 {
      line-height: 35px; } }

/* line 526, scss/main_style.scss */
#intro h2 span {
  display: block;
  font-size: 50px;
  line-height: 35px;
  margin-top: 20px; }
  @media only screen and (max-width : 320px) {
    /* line 526, scss/main_style.scss */
    #intro h2 span {
      font-size: 18px;
      line-height: 20px; } }
  @media only screen and (max-width : 320px) {
    /* line 526, scss/main_style.scss */
    #intro h2 span {
      display: none; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 526, scss/main_style.scss */
    #intro h2 span {
      font-size: 18px;
      margin-bottom: 60px;
      width: 460px; } }

/* line 545, scss/main_style.scss */
#logo h2 {
  display: none; }

/* line 549, scss/main_style.scss */
h3 {
  font-family: "LeagueGothicRegular", Helvetica, Arial;
  font-size: 24px;
  text-transform: uppercase!important;
  color: #ffffff;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: #413f34 1px 1px 0px; }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 549, scss/main_style.scss */
    h3 {
      width: 480px; } }
  @media (max-width: 1024px) {
    /* line 549, scss/main_style.scss */
    h3 {
      margin-bottom: 10px;
      width: 990px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 549, scss/main_style.scss */
    h3 {
      width: 320px!important; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 549, scss/main_style.scss */
    h3 {
      width: 748px; } }

/* line 569, scss/main_style.scss */
p, dd {
  font-size: 12px;
  margin-bottom: 20px; }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 569, scss/main_style.scss */
    p, dd {
      font-size: 14px!important;
      line-height: 18px; } }
  @media only screen and (min-width : 321px)  and (max-device-width : 480px) {
    /* line 569, scss/main_style.scss */
    p, dd {
      font-size: 8px;
      line-height: 12px; } }

/* line 583, scss/main_style.scss */
dl p {
  margin-bottom: 7px; }

/* line 586, scss/main_style.scss */
dt {
  text-shadow: white 0 0 0px;
  color: #B4B1A2;
  background-color: #b4b1a2;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: #b4b1a2 1px 1px 0px;
  background: #dcdac8;
  color: #fff;
  clear: both;
  float: left;
  margin-bottom: 7px;
  padding: 0 10px 0 5px;
  text-indent: 0; }
  @media only screen and (max-width : 320px) {
    /* line 586, scss/main_style.scss */
    dt {
      color: #686554;
      text-indent: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      padding: 0;
      text-shadow: white 1px 1px 0px;
      padding-right: 10px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 586, scss/main_style.scss */
    dt {
      font-size: 12px;
      color: #686554;
      text-indent: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      padding: 0;
      text-shadow: white 1px 1px 0px;
      padding-right: 10px; } }
  @media (max-width: 1024px) {
    /* line 586, scss/main_style.scss */
    dt {
      margin-bottom: 10px;
      width: 660px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 586, scss/main_style.scss */
    dt {
      width: 285px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 586, scss/main_style.scss */
    dt {
      width: 738px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* line 586, scss/main_style.scss */
    dt {
      color: #686554;
      text-indent: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      padding: 0;
      text-shadow: white 1px 1px 0px;
      padding-right: 10px; } }

/* line 626, scss/main_style.scss */
dd {
  clear: both;
  float: left; }

/* line 631, scss/main_style.scss */
dl.techie-stuff {
  font-size: 11px!important;
  margin-top: 30px; }

/* line 636, scss/main_style.scss */
dl.techie-stuff dt {
  background: #B4B1A2;
  color: #fff;
  font-size: 11px!important;
  height: 20px;
  line-height: 20px;
  text-shadow: black 0 0 0px; }
  @media only screen and (max-width : 320px) {
    /* line 636, scss/main_style.scss */
    dl.techie-stuff dt {
      text-shadow: none!important; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 636, scss/main_style.scss */
    dl.techie-stuff dt {
      text-shadow: none!important; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* line 636, scss/main_style.scss */
    dl.techie-stuff dt {
      text-shadow: none!important; } }

/* line 659, scss/main_style.scss */
dl.techie-stuff dd {
  color: #b4b1a2; }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 659, scss/main_style.scss */
    dl.techie-stuff dd {
      font-size: 8px; } }

/* line 666, scss/main_style.scss */
.section-content ul li {
  background: url("/images/common/arrow-right.png") no-repeat 0 5px;
  margin-bottom: 7px;
  padding-left: 15px; }

/* line 672, scss/main_style.scss */
.section-content dl ul li,
.jqmWindow .section-content ul li {
  margin-bottom: 0; }

/* line 675, scss/main_style.scss */
a {
  -webkit-transition: background 500ms ease;
  -moz-transition: background 500ms ease;
  -o-transition: background 500ms ease;
  transition: background 500ms ease;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: white 0 0 0px;
  color: #B4B1A2;
  background-color: #b4b1a2;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: #b4b1a2 1px 1px 0px;
  background: #DCDAC8;
  color: #fff;
  font-weight: bold;
  padding: 3px;
  text-decoration: none; }
  @media only screen and (max-width : 320px) {
    /* line 675, scss/main_style.scss */
    a {
      padding: 1px 2px; } }

/* line 692, scss/main_style.scss */
a:hover {
  background: #500000; }

@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
  /* line 695, scss/main_style.scss */
  p a, dl a {
    color: #686554;
    text-indent: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
    text-shadow: white 1px 1px 0px;
    background: none;
    color: #B4B1A2;
    font-weight: bold; } }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* line 695, scss/main_style.scss */
  p a, dl a {
    color: #686554;
    text-indent: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0;
    text-shadow: white 1px 1px 0px;
    background: none;
    color: #413f34;
    font-weight: bold; } }

/* line 711, scss/main_style.scss */
blockquote {
  background: url("/images/common/quote.png") no-repeat 0 10px;
  font-style: italic;
  border-bottom: 1px solid #DCDAC8;
  border-top: 1px solid #DCDAC8;
  padding: 20px 20px 0 60px;
  min-height: 50px; }
  @media only screen and (max-width : 320px) {
    /* line 711, scss/main_style.scss */
    blockquote {
      display: none; } }

/* line 722, scss/main_style.scss */
.section-nav {
  font-size: 12px;
  margin-top: -9px;
  position: relative;
  z-index: 4997; }
  @media only screen and (max-width : 320px) {
    /* line 722, scss/main_style.scss */
    .section-nav {
      width: 320px!important; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 722, scss/main_style.scss */
    .section-nav {
      width: 480px!important; } }
  @media (max-width: 1024px) {
    /* line 722, scss/main_style.scss */
    .section-nav {
      margin: 3px 0;
      width: 990px; } }

/* line 738, scss/main_style.scss */
.section-nav#page-nav {
  margin-top: 0; }
  @media (max-width: 1024px) {
    /* line 738, scss/main_style.scss */
    .section-nav#page-nav {
      margin-top: 3px; } }

/* line 744, scss/main_style.scss */
.section-nav li {
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  float: left;
  margin-right: 3px; }
  @media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
    /* line 744, scss/main_style.scss */
    .section-nav li {
      clear: none;
      margin: 0 1px 1px 0;
      text-align: center;
      width: 159px; } }

@media only screen and (min-width : 321px) and (max-device-width : 480px) {
  /* line 760, scss/main_style.scss */
  #work .section-nav li {
    font-size: 11px;
    width: 119px; } }

@media only screen and (max-width : 320px) {
  /* line 766, scss/main_style.scss */
  .section-nav li:nth-child(2n) {
    margin-right: 0; } }

@media only screen and (max-width : 320px) {
  /* line 771, scss/main_style.scss */
  .section-nav li:last-child {
    width: 320px; } }

/* line 776, scss/main_style.scss */
.up-down {
  float: left;
  margin-bottom: 3px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 66px;
  z-index: 4998; }
  @media (max-width: 1024px) {
    /* line 776, scss/main_style.scss */
    .up-down {
      opacity: 1!important;
      -moz-opacity: 1!important;
      -o-opacity: 1!important;
      -webkit-opacity: 1!important; } }
  @media only screen and (max-width : 320px) {
    /* line 776, scss/main_style.scss */
    .up-down {
      top: 8px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 776, scss/main_style.scss */
    .up-down {
      top: 3px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 776, scss/main_style.scss */
    .up-down {
      opacity: 1!important;
      -moz-opacity: 1!important;
      -o-opacity: 1!important;
      -webkit-opacity: 1!important;
      top: 10px;
      z-index: 9999; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* line 776, scss/main_style.scss */
    .up-down {
      opacity: 1!important;
      -moz-opacity: 1!important;
      -o-opacity: 1!important;
      -webkit-opacity: 1!important;
      top: 10px;
      z-index: 9999!important; } }

/* line 806, scss/main_style.scss */
#page-footer .up-down {
  bottom: 3px;
  width: 34px; }

/* line 810, scss/main_style.scss */
#get-in-touch .up-down {
  width: 34px; }

/* line 813, scss/main_style.scss */
#intro .up-down {
  right: 0;
  top: 0;
  width: 30px; }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 813, scss/main_style.scss */
    #intro .up-down {
      top: -30px;
      opacity: 1!important;
      -moz-opacity: 1!important;
      -o-opacity: 1!important;
      -webkit-opacity: 1!important; } }
  @media only screen and (max-width : 1024px) {
    /* line 813, scss/main_style.scss */
    #intro .up-down {
      top: -50px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 813, scss/main_style.scss */
    #intro .up-down {
      top: -130px;
      opacity: 1!important;
      -moz-opacity: 1!important;
      -o-opacity: 1!important;
      -webkit-opacity: 1!important; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 813, scss/main_style.scss */
    #intro .up-down {
      opacity: 1!important;
      -moz-opacity: 1!important;
      -o-opacity: 1!important;
      -webkit-opacity: 1!important;
      top: -50px;
      z-index: 9999; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* line 813, scss/main_style.scss */
    #intro .up-down {
      opacity: 1!important;
      -moz-opacity: 1!important;
      -o-opacity: 1!important;
      -webkit-opacity: 1!important;
      top: -50px;
      z-index: 9999; } }

/* line 841, scss/main_style.scss */
.up-down a,
.section-nav li a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #B4B1A2;
  background-color: #b4b1a2;
  text-indent: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 0;
  text-shadow: #b4b1a2 1px 1px 0px;
  background: #dcdac8;
  color: #fff;
  padding: 0 5px;
  text-indent: 0; }
  @media only screen and (max-width : 320px) {
    /* line 841, scss/main_style.scss */
    .up-down a,
    .section-nav li a {
      color: #686554;
      text-indent: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      padding: 0;
      text-shadow: white 1px 1px 0px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 841, scss/main_style.scss */
    .up-down a,
    .section-nav li a {
      color: #686554;
      text-indent: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      padding: 0;
      text-shadow: white 1px 1px 0px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* line 841, scss/main_style.scss */
    .up-down a,
    .section-nav li a {
      color: #686554;
      text-indent: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      padding: 0;
      text-shadow: white 1px 1px 0px;
      font-weight: bold;
      padding-right: 10px; } }

/* line 863, scss/main_style.scss */
.section-nav li a:hover {
  background-color: #b4b1a2; }

/* line 867, scss/main_style.scss */
.section-nav li a.active {
  text-shadow: white 0 0 0px;
  background-color: #500000;
  cursor: default; }
  @media only screen and (max-width : 320px) {
    /* line 867, scss/main_style.scss */
    .section-nav li a.active {
      color: #fff; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 867, scss/main_style.scss */
    .section-nav li a.active {
      color: #fff; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* line 867, scss/main_style.scss */
    .section-nav li a.active {
      color: #fff;
      text-shadow: none!important; } }

/* line 886, scss/main_style.scss */
.up-down a {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 3px;
  padding: 0;
  text-indent: -999em;
  width: 30px; }

/* line 896, scss/main_style.scss */
.up-down a.next {
  background: url("/images/icons/arrow-down.png") no-repeat bottom left; }

/* line 899, scss/main_style.scss */
.up-down a.next:hover {
  background: url("/images/icons/arrow-down.png") no-repeat top left; }

/* line 902, scss/main_style.scss */
.up-down a.previous {
  background: url("/images/icons/arrow-up.png") no-repeat top left; }

/* line 905, scss/main_style.scss */
.up-down a.previous:hover {
  background: url("/images/icons/arrow-up.png") no-repeat bottom left; }

/* line 917, scss/main_style.scss */
#project-images {
  margin-top: 20px; }
  @media only screen and (max-width : 320px) {
    /* line 917, scss/main_style.scss */
    #project-images {
      margin-top: 10px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 917, scss/main_style.scss */
    #project-images {
      padding: 0 10px; } }

/* line 926, scss/main_style.scss */
#project-images ul {
  min-height: 480px; }

/* line 929, scss/main_style.scss */
#project-images li {
  float: left;
  margin-right: 20px;
  width: 380px;
  background: #fff;
  height: 180px;
  margin-bottom: 20px;
  padding: 10px;
  outline: 1px solid #B4B1A2;
  overflow: hidden;
  width: 360px; }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 929, scss/main_style.scss */
    #project-images li {
      height: 76px;
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 2px;
      width: 144px; } }
  @media (max-width: 1024px) {
    /* line 929, scss/main_style.scss */
    #project-images li {
      height: 148px;
      width: 295px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 929, scss/main_style.scss */
    #project-images li {
      height: 50px;
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 2px;
      width: 97px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 929, scss/main_style.scss */
    #project-images li {
      height: 118px;
      margin-right: 14px;
      padding: 2px;
      width: 236px; } }

/* line 965, scss/main_style.scss */
#project-images li:nth-child(3n) {
  margin-right: 0!important;
  float: right; }

/* line 969, scss/main_style.scss */
#project-images a {
  cursor: default;
  display: block;
  height: 180px;
  width: 360px; }

/* line 976, scss/main_style.scss */
#project-images li img {
  width: 100%; }
  @media only screen and (max-width : 320px) {
    /* line 976, scss/main_style.scss */
    #project-images li img {
      width: 97px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 976, scss/main_style.scss */
    #project-images li img {
      width: 150px; } }
  @media (max-width: 1024px) {
    /* line 976, scss/main_style.scss */
    #project-images li img {
      width: 295px; } }
  @media only screen and (max-width : 320px) and (orientation : portrait) {
    /* line 976, scss/main_style.scss */
    #project-images li img {
      width: 97px; } }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* line 976, scss/main_style.scss */
    #project-images li img {
      width: 236px; } }

/* line 994, scss/main_style.scss */
#project-images .active-project {
  cursor: pointer; }

/* line 999, scss/main_style.scss */
#project-images li.omega {
  margin-right: 0!important; }

/* line 1002, scss/main_style.scss */
#project-images li a {
  background: none;
  padding: 0;
  text-indent: 0; }

/* Social media links
-------------------------------------------------------------- */
/* line 1011, scss/main_style.scss */
div#contact-links {
  height: 30px;
  margin-top: 60px;
  position: relative;
  width: 100%; }
  @media only screen and (max-width : 320px) {
    /* line 1011, scss/main_style.scss */
    div#contact-links {
      margin-left: 5px;
      margin-top: 5px; } }
  @media only screen and (min-width : 321px) and (max-device-width : 480px) {
    /* line 1011, scss/main_style.scss */
    div#contact-links {
      margin-left: 5px;
      margin-top: 5px; } }
  @media (max-width: 1024px) {
    /* line 1011, scss/main_style.scss */
    div#contact-links {
      height: 40px;
      margin-top: 7px; } }

/* line 1030, scss/main_style.scss */
ul.social-links {
  float: left;
  list-style: none; }

/* line 1034, scss/main_style.scss */
ul.social-links li {
  float: left;
  height: 30px;
  margin-right: 5px;
  width: 30px; }

/* line 1040, scss/main_style.scss */
.social-links a {
  background-position: 0 0;
  background-repeat: 0 0;
  border: 1px solid #eee;
  display: block;
  height: 30px;
  padding: 0;
  text-indent: -999em;
  width: 30px; }

/* line 1050, scss/main_style.scss */
ul.social-links li a:hover {
  background-color: none!important;
  background-position: 0 -30px; }

/* line 1056, scss/main_style.scss */
.flickr a,
.flickr a:hover {
  background: url("/images/icons/flickr.png"); }

/* line 1058, scss/main_style.scss */
.linked-in a,
.linked-in a:hover {
  background: url("/images/icons/linked-in.png"); }

/* line 1060, scss/main_style.scss */
.delicious a,
.delicious a:hover {
  background: url("/images/icons/delicious.png"); }

/* line 1062, scss/main_style.scss */
.last-fm a,
.last-fm a:hover {
  background: url("/images/icons/last-fm.png"); }

/**	jQmodal window	**/
/* line 1067, scss/main_style.scss */
a.jqmClose {
  cursor: pointer;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 0;
  text-indent: 0;
  width: 20px; }

/* line 1080, scss/main_style.scss */
.jqmWindow .section-header {
  margin-bottom: 20px;
  width: 35%; }
  @media only screen and (max-width : 320px) {
    /* line 1080, scss/main_style.scss */
    .jqmWindow .section-header {
      margin-bottom: 5px;
      width: 260px; } }

/* line 1089, scss/main_style.scss */
.jqmWindow h2 {
  font-size: 40px;
  line-height: 36px;
  margin-bottom: 12px; }

/* line 1094, scss/main_style.scss */
.jqmWindow h4 {
  margin-bottom: 20px; }

/* line 1097, scss/main_style.scss */
.jqmWindow h4 a {
  margin-right: 10px; }

/* line 1100, scss/main_style.scss */
.jqmWindow dt {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-right: 2px;
  width: 45px; }

/* line 1108, scss/main_style.scss */
.jqmWindow dt,
.jqmWindow dd {
  display: block;
  clear: none;
  float: left;
  margin-bottom: 1px; }

/* line 1114, scss/main_style.scss */
.jqmWindow dd {
  display: block;
  width: 180px; }
  @media only screen and (max-width : 320px) {
    /* line 1114, scss/main_style.scss */
    .jqmWindow dd {
      height: 25px;
      line-height: 20px; } }

/* line 1122, scss/main_style.scss */
.jqmWindow p {
  line-height: 20px; }

/* line 1125, scss/main_style.scss */
.jqmWindow .copy {
  margin-top: 20px; }

/* line 1128, scss/main_style.scss */
.jqmWindow .section-content {
  margin-top: 1px; }
  @media only screen and (max-width : 320px) {
    /* line 1128, scss/main_style.scss */
    .jqmWindow .section-content {
      margin: 0;
      width: 240px; } }

/* line 1135, scss/main_style.scss */
.jqmWindow .row {
  background: #fff;
  border: 1px solid #B4B1A2;
  margin-bottom: 0;
  min-height: 100px;
  padding: 10px 20px 50px 20px;
  position: relative;
  width: 758px; }
  @media only screen and (max-width : 320px) {
    /* line 1135, scss/main_style.scss */
    .jqmWindow .row {
      width: 300px; } }

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */
/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
/* line 1153, scss/main_style.scss */
.jqmWindow {
  display: none;
  position: fixed;
  top: 17%;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  background-color: #EEE;
  color: #333;
  border: 1px solid #B4B1A2;
  padding: 12px;
  z-index: 5000; }

/* line 1172, scss/main_style.scss */
.jqmOverlay {
  background-color: #000; }
  @media only screen and (max-width : 320px) {
    /* line 1172, scss/main_style.scss */
    .jqmOverlay {
      height: 480px;
      width: 320px; } }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
/* line 1182, scss/main_style.scss */
* iframe.jqm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px'); }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
/* line 1190, scss/main_style.scss */
* html .jqmWindow {
  position: absolute;
  top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }

/**	Tipsy	**/
/* line 1201, scss/main_style.scss */
.tipsy {
  text-shadow: none!important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  z-index: 9999; }

/* line 1210, scss/main_style.scss */
.tipsy-inner {
  background-color: #000;
  color: #FFF;
  max-width: 380px;
  padding: 5px 8px 4px 8px;
  text-align: center; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
/* line 1220, scss/main_style.scss */
.tipsy-arrow {
  border: 5px dashed #000;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0; }

/* Rules to colour arrows */
/* line 1228, scss/main_style.scss */
.tipsy-arrow-n {
  border-bottom-color: #000; }

/* line 1230, scss/main_style.scss */
.tipsy-arrow-s {
  border-top-color: #000; }

/* line 1232, scss/main_style.scss */
.tipsy-arrow-e {
  border-left-color: #000; }

/* line 1234, scss/main_style.scss */
.tipsy-arrow-w {
  border-right-color: #000; }

/* line 1236, scss/main_style.scss */
.tipsy-n .tipsy-arrow {
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
  left: 50%;
  margin-left: -5px;
  top: 0px; }

/* line 1245, scss/main_style.scss */
.tipsy-nw .tipsy-arrow {
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
  left: 10px;
  top: 0; }

/* line 1253, scss/main_style.scss */
.tipsy-ne .tipsy-arrow {
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
  right: 10px;
  top: 0; }

/* line 1261, scss/main_style.scss */
.tipsy-s .tipsy-arrow {
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: solid;
  bottom: 0;
  left: 50%;
  margin-left: -5px; }

/* line 1270, scss/main_style.scss */
.tipsy-sw .tipsy-arrow {
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: solid;
  bottom: 0;
  left: 10px; }

/* line 1278, scss/main_style.scss */
.tipsy-se .tipsy-arrow {
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: solid;
  bottom: 0;
  right: 10px; }

/* line 1286, scss/main_style.scss */
.tipsy-e .tipsy-arrow {
  border-bottom-color: transparent;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  margin-top: -5px;
  right: 0;
  top: 50%; }

/* line 1295, scss/main_style.scss */
.tipsy-w .tipsy-arrow {
  border-bottom-color: transparent;
  border-left: none;
  border-right-style: solid;
  border-top-color: transparent;
  left: 0;
  margin-top: -5px;
  top: 50%; }

/* line 1307, scss/main_style.scss */
p.chromeframe {
  background: #FFF6BF;
  border: 2px solid #7d1a00;
  color: #7d1a00;
  float: left;
  font-weight: bold;
  padding: 30px;
  text-align: center; }

/* line 1317, scss/main_style.scss */
p.chromeframe a {
  background: none;
  color: #7d1a00;
  text-decoration: underline; }
