@font-face {
  font-family: 'AkkuratMonoMono';
  src: url('../../fonts/akkurat-mono/akkurat-mono.eot');
  src: url('../../fonts/akkurat-mono/akkurat-mono.eot') format('embedded-opentype'),
  url('../../fonts/akkurat-mono/akkurat-mono.woff') format('woff'),
  url('../../fonts/akkurat-mono/akkurat-mono.ttf') format('truetype'),
  url('../../fonts/akkurat-mono/akkurat-mono.svg#AkkuratMonoMono') format('svg');
}