body	{font: 1.1em/1.8em 'Trebuchet MS','Lucida Grande','Lucida Console',Helvetica, Arial,sans-serif;	}
#about section,
#services section,
#contact section{
	display: block;
	padding-left: 0;
	width: 450px;
}
h3 span,
.skills .highlight,
.highlight a,
.highlight a:hover,
dt span,
h2 a,
section p a{
	behavior: url(/includes/css/ie/pie.htc);
}
p{
	font-size: 0.9em;
	
	margin-bottom: 7px;
	text-indent: 0;
}

