p, dl, li{
	font-size: 11px;
	margin-bottom: 10px;
}
/*	Layout	*/

#about section,
#services section,
#contact section{
	padding-left: 0;
	width: 460px;
}
#services article section p{
	padding-right: 30px;
}
.scroll-pane{
	padding-right: 60px;
	padding: 0;
	width: 730px;
	height: 450px;
	overflow: auto;
}