
.scroll-pane{
	height: 430px;
	width: 735px;
}
h3{
	margin-top: 0;
}

p, dl, li{
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 10px;
}
.js #scroll-content{
	height: 450px;
	overflow: hidden;
	position: absolute;
	top: 120px;
	width: 100%;
}