html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{background:#f4f2eb;border-bottom:10px solid #000;border-top:10px solid #000;color:#4a483f;filter:dropshadow(color=#fff,offx=0,offy=1);font-family:Helvetica, Arial, "Lucida Grande", sans-serif;font-size:14px;letter-spacing:0;line-height:1.8em;padding-top:10px;text-shadow:0 1px 0 #fff;width:100%;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{-moz-transition:background 500ms ease;-o-transition:background 500ms ease;-webkit-transition:background 500ms ease;background:#000;color:#fff;font-size:100%;line-height:20px;margin:0;padding:0 3px;text-decoration:none;text-shadow:none;text-transform:lowercase;transition:background 500ms ease;vertical-align:baseline;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:25px 0;padding:0;}
input,select{vertical-align:middle;}
.container_3{margin-left:auto;margin-right:auto;max-width:1000px;min-width:600px;width:92%;}
.grid_1,.grid_2,.grid_3{display:inline;float:left;margin-left:1%;margin-right:1%;position:relative;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.container_3 .grid_1{width:31.8%;}
.container_3 .grid_2{width:66.2%;}
.container_3 .grid_3{width:100%;}
.container_3 .prefix_1{padding-left:33.333%;}
.container_3 .prefix_2{padding-left:66.667%;}
.container_3 .suffix_1{padding-right:33.333%;}
.container_3 .suffix_2{padding-right:66.667%;}
.container_3 .push_1{left:33.333%;}
.container_3 .push_2{left:66.667%;}
.container_3 .pull_1{left:-33.333%;}
.container_3 .pull_2{left:-66.667%;}
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0;}
* html .clearfix{height:1%;}
#logo{background:#000 url(/images/common/logo.png) no-repeat 10px;color:#fff;text-indent:-999em;}
img#flower{margin-bottom:20px;}
nav#page-nav li{float:left;margin-right:3px;}
h1,h2,h3,h4{line-height:34px!important;text-transform:lowercase;}
#logo h1{line-height:34px;}
h2,h3{font-weight:700;margin-bottom:40px;text-indent:10px;text-shadow:none;}
#logo h2{position:absolute;text-indent:-999em;top:-999em;}
#intro h2{background:url(/images/common/border-top.gif) repeat-x bottom;color:#b4b1a2;filter:dropshadow(color=#fff,offx=0,offy=1);font-size:22px;letter-spacing:-1px;line-height:1.1em!important;margin-bottom:20px;padding-bottom:20px;text-indent:0;text-shadow:0 1px 0 #fff;}
.page-header h2{background:none;}
h2{background:#500000;color:#fff;margin-bottom:0;}
h3{background:url(/images/common/border-top.gif) repeat-x top;line-height:54px!important;margin-bottom:0;text-indent:0;}
#page-footer h2{background:none;margin-bottom:0;padding:0;text-indent:5px;}
header{margin-bottom:0;}
#intro header{height:auto;}
#page-footer header{margin:0;}
section{float:left;width:100%;}
article{background:url(/images/common/border-top.gif) repeat-x bottom;margin-bottom:0;padding-bottom:20px;}
.row{clear:both;float:left;padding:20px 0 10px;position:relative;width:100%;}
#page-footer.row{padding-top:20px;position:relative;}
.section-content{background:url(/images/common/border-top.gif) repeat-x top;margin-bottom:20px;padding-top:20px;}
article#intro,article#more-about{padding-bottom:20px;}
a:hover{-moz-transition:background 500ms ease;-o-transition:background 500ms ease;-webkit-transition:background 500ms ease;background:#3FA9F5;color:#fff;transition:background 500ms ease;}
nav{font-family:HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-size:12px;}
nav a{background:#500000;color:#fff;display:block;font-weight:600;line-height:34px;padding:0 10px;}
nav .active a{background:#840000;color:#fff;}
.section-nav{float:left;margin-right:-80px;}
.section-nav li{float:left;margin-bottom:3px;margin-right:3px;}
nav.section-nav a{background:#B4B1A2;}
nav.section-nav a:hover,nav.section-nav a.active,nav.section-nav a.active:hover{background:#4A483F;}
nav.section-nav a.active{cursor:default;}
section .up-down{height:34px;line-height:34px;position:absolute;right:-2px;top:20px;width:70px;}
#page-footer .up-down{float:right;right:-5px!important;top:20px;}
#page-footer .up-down a.previous{margin-right:5px;}
article#get-in-touch section .up-down{width:34px;}
.up-down a{display:block;float:left;height:34px;line-height:34px;padding:0;text-indent:-999em;width:32px;}
.up-down a.next{background:url(/images/icons/arrow-down.png) no-repeat bottom left;margin-right:3px;}
.up-down a.next:hover{background:url(/images/icons/arrow-down.png) no-repeat top left;}
.up-down a.previous{background:url(/images/icons/arrow-up.png) no-repeat top left;margin-right:0;}
.up-down a.previous:hover{background:url(/images/icons/arrow-up.png) no-repeat bottom left;}
p{margin:0 0 10px!important;}
dt{font-weight:700;}
#project-images ul{list-style:none!important;}
#project-images{background:url(/images/common/border-top.gif) repeat-x top;float:left;margin-bottom:0;padding-top:20px;width:100%;}
#project-thumbs a{background:none;display:block;float:left;height:auto!important;margin-bottom:10px;padding:0;}
#project-thumbs img{-moz-transition:background 500ms ease;-o-transition:background 500ms ease;-webkit-transition:background 500ms ease;border:1px solid #999;opacity:0.2;transition:background 500ms ease;width:100%;}
#project-thumbs img.highlighted{border:1px solid #999;opacity:1;width:100%;}
ul.social-links li{float:left;height:32px;margin-right:5px;width:32px;}
.social-links a{background-position:0 0;background-repeat:0 0;border:1px solid #b4b1a2;display:block;height:32px;padding:0;text-indent:-999em;width:32px;}
ul.social-links li a:hover{background-color:none!important;background-position:0 -32px;}
.flickr a,.flickr a:hover{background:url(/images/icons/flickr.png);}
.linked-in a,.linked-in a:hover{background:url(/images/icons/linked-in.png);}
.delicious a,.delicious a:hover{background:url(/images/icons/delicious.png);}
.last-fm a,.last-fm a:hover{background:url(/images/icons/last-fm.png);}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.clearfix{display:block;}
nav ul,ul.social-links{list-style:none;}
body.overlay,h2 span.alpha{border-top:none;}