@import 'compass/reset';
@import 'compass/css3/text-shadow';

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

// Variable declarations -------------------------------------------------------

$iamdash-red: 		 		#500000;
$iamdash-grey: 		 		#b4b1a2;
$iamdash-font-sansserif: 	Helvetica, Arial, "Lucida Grande", sans-serif;
$iamdash-font-size:		 	12px;
$iamdash-line-height:		21px;
$iamdash-corner-radius:	 	0;
$iamdash-font-padding:	 	0;

$column-width:           	60px;    // 12 columns = 720px
$gutter-width:           	20px;    // 11 gutters = 220px

$default-text-shadow-color: 	#ffffff;
$default-text-shadow-h-offset: 	1px;
$default-text-shadow-v-offset: 	1px;
$default-text-shadow-blur: 		0px;


// Mixins

@mixin sans-serif-font{
   font-family: $iamdash-font-sansserif;
   font-size: $iamdash-font-size;
   line-height: $iamdash-line-height;	
}
@mixin block-line-height{
	display: block;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

@mixin text-dark-bg{
  	color:  #fff;
  	background-color: $iamdash-red;
  	text-indent: 10px;
  	@include el-corner-radius;
  	$default-text-shadow-color: 	#000000;
  	@include text-shadow;
}
@mixin text-light-bg{
  	color:  #B4B1A2;
  	background-color: $iamdash-grey;
  	text-indent: 10px;
  	@include el-corner-radius;
	$default-text-shadow-h-offset: 	1px;
	$default-text-shadow-v-offset: 	1px;
	$default-text-shadow-color: 	#B4B1A2;
	@include text-shadow;	
}

@mixin el-transition{
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;	
}
@mixin el-corner-radius{
	border-radius: $iamdash-corner-radius;
  	-webkit-border-radius: $iamdash-corner-radius;
  	-moz-border-radius: $iamdash-corner-radius;
  	padding:  $iamdash-font-padding;
}

@mixin grid-unit($span) {
  float: left;
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width * ($span - 1));
}
@mixin full-opacity{
	opacity:  1!important;
	-moz-opacity: 1!important;
	-o-opacity: 1!important;
	-webkit-opacity: 1!important;
}


@mixin clearfix {
	// For modern browsers
	&:before,
	&:after {
		content:"";
		display:table;
	}
	
	&:after {
		clear:both;
	}
	
	// For IE 6/7 (trigger hasLayout)
	& {
		zoom:1;
	}
}

// Containers			-------------------------------------------------------

#wrapper{
	@include clearfix;
	@include grid-unit(12);
	float: none;
	margin: 20px auto;
        max-width: 1200px;
        // result = target / context
        width: percentage(940px / 960px);
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		margin-top:0;
		width: 330px!important;
	}
	@media screen and (max-width:768px){
		padding: 0 20px;
	}	
	@media screen and (max-width:1024px){
		overflow: hidden;
		width: 900px;
	}	
}

.row{
    @include clearfix;
    @include grid-unit(12);
    margin-right:0;
    min-height: 1000px;
    padding-top: 96px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		min-height: 100px;
		padding-top: 16px!important;
		width: 330px!important;
	}    
	@media screen and (max-width:768px){
		clear: both;
	}
	@media screen and (max-width:1024px){
		margin-bottom: 20px;
		padding-top: 100px;
		width: 900px;
	}	
}
article.row section.row{
	min-height: 100px!important;
}
#intro.row{
	padding-top: 75px;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		padding-top: 0!important;
	} 	
	@media screen and (max-width:1024px){
		padding-top: 100px;
	}	
}
#get-in-touch.row,
#page-footer.row{
	min-height: 500px;
}
#page-header.row{
	margin-top: 0;
	min-height: 53px;
	padding-top: 0;
	position: fixed;
	z-index: 3000;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		position: relative;
	}
	@media screen and (max-width:768px){
		position: relative;
	}	
}

.row .row{
	padding-top: 0;;
}
.section-header,
#logo{
	@include clearfix;
	@include grid-unit(5);

	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		height: 30px;
		width: 330px!important;
	}
	@media screen and (max-width:768px){
		clear: both;
	}
	@media screen and (max-width:1024px){
		clear: both;
	}	
}
header#logo,
header.section-header{
	@media screen and (max-width:768px){
		clear: both;
	}
	@media screen and (max-width:1024px){
		clear: both;
		margin-bottom: 3px;
		width: 100%;
	}	
}
.section-content,
.section-intro,
.section-nav,
#page-nav{
    @include clearfix;
    @include grid-unit(8);
    margin-right: 0;
    width: 66.666%;
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		margin: 0 auto;
		padding: 10px 10px 0 10px;
		width: 300px!important;
	}
	@media screen and (max-width:768px){
		clear: both;
		width: 100%;
	}
	@media screen and (max-width:1024px){
		clear: both;
		width: 100%;
	}		
}
#page-nav{
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		padding:0
	}	
}
.section-nav{
	@include grid-unit(10);
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		padding: 10px 10px 0 0;
	}	
}
#intro .section-content{
	@media screen and (max-width:1024px){
		width:  700px;
	}		
}
.section-content{
	@media screen and (max-width:768px){
		padding: 10px;
	}	
}
.section-intro{
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		padding: 0;
		width: 320px!important;
	}
}
.section-intro section{
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		padding: 10px;
		width: 300px!important;
	}
}

img#flower{
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		display:none;
	}	
	@media screen and (max-width:1024px){
		position: absolute;
		right:  40px;
		top:  100px;
		width: 120px
	}
}

// Type				-------------------------------------------------------

body{
 	@include sans-serif-font;
 	@include text-shadow;
 	
	background: #efeee3 url('/images/common/bg-flowers.png') fixed;
	color: #403f39;
	font-weight: 500; 
	
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		background: #efeee3;
	}		
}
#logo h1{
	@include text-dark-bg;
	@include block-line-height;

	background: #000;
	font-size: 16px;
}
h1,h2,h3{
	text-transform: lowercase!important;
}

h3,dt{
	@include block-line-height;
	@include text-light-bg;	
	
	color: #fff;
	font-size: 14px;
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		text-shadow: none!important;
	}
	@media screen and (max-width:768px){
		text-shadow: none!important;
	}		
}

h2{
	$default-text-shadow-h-offset: 	2px;
	$default-text-shadow-v-offset: 	2px;
	$default-text-shadow-color: 	#ffffff;
	@include text-shadow;
	
	background: none;
	color: #363530!important;
	font-size: 275%;
	font-weight: bold;
	height: auto;
	letter-spacing: -2px;
	line-height: 0.9em;
	margin-bottom: 20px;
	padding: 0;
	text-indent: 0;
	text-transform: lowercase;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		font-size: 20px;
		letter-spacing: 0;
		line-height: 30px;
		text-indent: 10px;
	}	
}
#intro h2{
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		font-size: 20px;
		letter-spacing: 0;
		line-height: 20px;
		margin-top: -10px;
		padding-right: 40px;
		text-indent: 0;
	}	
}
#logo h2{
    display: none;
}
h3{
	@media screen and (max-width:1024px){
		margin-bottom: 10px
	}	
}
p,dd{
	margin-bottom: 20px;
}
dt{
	background: #dcdac8;
	color: #fff;
	clear: both;
	float: left;
	margin-bottom: 7px;
	padding: 0 5px;
	text-indent: 0;
}
dd{
	
	clear: both;
	float: left;
}
dl.techie-stuff{
    font-size: 11px!important;
    margin-top: 30px;
}
dl.techie-stuff dt{
	background: #B4B1A2;
	color: #fff;
	font-size: 11px!important;
	height: 20px;
	line-height:20px;
	
	$default-text-shadow-color: 	#000000;
	$default-text-shadow-h-offset: 0;
	$default-text-shadow-v-offset: 	0;
	@include text-shadow;	
	
}
dt{
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		color:	#54524a;
	}
	@media screen and (max-width:768px){
		color:	#54524a;
	}		
}
.section-content ul li{
	background: url('/images/common/arrow-right.png') no-repeat 0 5px;
	margin-bottom: 15px;
	padding-left: 15px;
}

a{
	@include el-transition;
	@include el-corner-radius;
	$default-text-shadow-color: 	#ffffff;
	$default-text-shadow-h-offset: 0;
	$default-text-shadow-v-offset: 	0;
	@include text-shadow;
	@include text-light-bg;
	background: #DCDAC8;
	color: #fff;
	padding: 3px;
	text-decoration: none;
	
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px),screen and (max-width:768px)  {
		color:#54524a;
		text-shadow: none!important;
	}
	
	
}
a:hover{
	background: $iamdash-red;
}

.section-nav li{
	@include block-line-height;
	
	float: left;
	margin-right: 3px;
	
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		margin-right:0
	}	
}
.up-down{
	float: left;
	margin-bottom: 3px;
	position: absolute;
	right: 0;
	top:  20px;
	width: 66px;
	z-index: 4000;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		right: -6px!important;
		top: 15px;
	}  	
	
	@media screen and (max-width:1024px){
	
		@include full-opacity;
		
		right:0;
		z-index: 4000;
		
	}
}
#page-footer .up-down{
	right: 0;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		right: 0!important;
	} 	
}
#get-in-touch .up-down{
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		right: 0!important;
	} 	
}
#intro .up-down{
	right: 0;
	top: 0;
	width:  30px;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		right: 0!important;
	} 	
}
.up-down a,
.section-nav li a{
	@include block-line-height;
	@include block-line-height;
	@include text-light-bg;
	background: #dcdac8;
	color: #fff;
	padding: 0 5px;
	text-indent: 0;	
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px),screen and (max-width:768px)  {
		color:	#54524a;
		}	
	
}
.section-nav li a:hover{
	background-color: $iamdash-grey;
}

.section-nav li a.active{
	$default-text-shadow-h-offset: 0;
	$default-text-shadow-v-offset: 	0;
	@include text-shadow;	
	
	background-color: $iamdash-red;
	cursor: default;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px),screen and (max-width:768px)  {
		color:	#fff;
		}	
}
.up-down a{
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
    padding: 0;
    text-indent: -999em;
    width: 30px;

}
.up-down a.next{
    background: url('/images/icons/arrow-down.png') no-repeat bottom left;
}
.up-down a.next:hover{
    background: url('/images/icons/arrow-down.png') no-repeat top left;
}
.up-down a.previous{
    background: url('/images/icons/arrow-up.png') no-repeat top left;
}
.up-down a.previous:hover{
    background: url('/images/icons/arrow-up.png') no-repeat bottom left;
}

#get-in-touch .up-down{
	@media screen and (max-width:1024px){
		width:  30px;
	}	
}
#page-footer .up-down{
	@media screen and (max-width:1024px){
		right:0;
		top:  0;
		width:  30px;
	}	
}


#project-images{
	margin-top: 20px;
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		margin-left: 10px;
		margin-top: 5px;
		width:  310px;
    } 
}

#project-images li{
    @include grid-unit(5);
    
    background: #fff;
    margin-bottom: 20px;

    @media screen and (max-width:1024px){
        margin-right: 18px;
        width:  288px;
    }
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		margin-bottom: 5px;
        margin-right: 5px;
        width: 100px;
    }    
}
#project-images li img{
	
    width: 100%
}
#project-images img.active-project{
	outline: 1px inset #000;
    @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		outline: none;
    }
	@media screen and (max-width:768px){
		outline: none;
	}     	
}
#project-images li.omega{
        margin-right: 0!important;
}
/* Social media links
-------------------------------------------------------------- */

div#contact-links{
	height: 30px;
	margin-top: 60px;
	position: relative;
	width:  100%;
    @media screen and (max-width:1024px){
		bottom: 0;
        margin-top: auto;
        position: absolute;
        right:  0;
        width: 105px
    }	
}

ul.social-links{
	float: left;
    list-style: none;
}
ul.social-links li{
	float: left;
	height: 30px;
	margin-right: 5px;
	width: 30px;
}
.social-links a{
	background-position: 0 0;
	background-repeat: 0 0;
    border: 1px solid #eee;
	display: block;
	height: 30px;
    padding: 0;
	text-indent: -999em;
	width: 30px;
}
ul.social-links li a:hover{
    background-color: none!important;
    background-position: 0 -30px;
      
}
.flickr a,
.flickr a:hover{	background: url('/images/icons/flickr.png');		}
.linked-in a,
.linked-in a:hover{	background: url('/images/icons/linked-in.png');	}
.delicious a,
.delicious a:hover{	background: url('/images/icons/delicious.png');	}
.last-fm a,
.last-fm a:hover{	background: url('/images/icons/last-fm.png');	}

