@import 'compass/reset';
@import 'compass/css3/text-shadow';

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

// Variable declarations -------------------------------------------------------

$iamdash-red: 		 		#500000;
$iamdash-grey: 		 		#b4b1a2;
$iamdash-font-sansserif: 	Helvetica, Arial, "Lucida Grande", sans-serif;
$iamdash-font-size:		 	12px;
$iamdash-line-height:		21px;
$iamdash-corner-radius:	 	0;
$iamdash-font-padding:	 	0;

$column-width:           	60px;    // 12 columns = 720px
$gutter-width:           	20px;    // 11 gutters = 220px

$default-text-shadow-color: 	#ffffff;
$default-text-shadow-h-offset: 	1px;
$default-text-shadow-v-offset: 	1px;
$default-text-shadow-blur: 		0px;


// Mixins

@mixin sans-serif-font{
   font-family: $iamdash-font-sansserif;
   font-size: $iamdash-font-size;
   line-height: $iamdash-line-height;	
}
@mixin block-line-height{
	display: block;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

@mixin text-dark-bg{
  	color:  #fff;
  	background-color: $iamdash-red;
  	text-indent: 10px;
  	@include el-corner-radius;
  	$default-text-shadow-color: 	#000000;
  	@include text-shadow;
}
@mixin text-light-bg{
  	color:  #B4B1A2;
  	background-color: $iamdash-grey;
  	text-indent: 10px;
  	@include el-corner-radius;
	$default-text-shadow-h-offset: 	1px;
	$default-text-shadow-v-offset: 	1px;
	$default-text-shadow-color: 	#B4B1A2;
	@include text-shadow;	
}

@mixin el-transition{
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;	
}
@mixin el-corner-radius{
	border-radius: $iamdash-corner-radius;
  	-webkit-border-radius: $iamdash-corner-radius;
  	-moz-border-radius: $iamdash-corner-radius;
  	padding:  $iamdash-font-padding;
}

@mixin grid-unit($span) {
  float: left;
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width * ($span - 1));
}
@mixin full-opacity{
	opacity:  1!important;
	-moz-opacity: 1!important;
	-o-opacity: 1!important;
	-webkit-opacity: 1!important;
}


@mixin clearfix {
	// For modern browsers
	&:before,
	&:after {
		content:"";
		display:table;
	}
	
	&:after {
		clear:both;
	}
	
	// For IE 6/7 (trigger hasLayout)
	& {
		zoom:1;
	}
}

// Containers			-------------------------------------------------------

#wrapper{
	@include clearfix;
	@include grid-unit(12);
	float: none;
	margin: 20px auto;
        max-width: 1200px;
        // result = target / context
        width: percentage(940px / 960px);
	@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
		margin-top:0;
		width: 330px!important;
	}
	@media screen and (max-width:768px){
		padding: 0 20px;
	}	
	@media screen and (max-width:1024px){
		overflow: hidden;
		width: 900px;
	}	
}

.row{
    @include clearfix;
    @include grid-unit(12);
    margin-right:0;
    min-height: 1000px;
    padding-top: 80px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;	
}
article.row section.row{
	min-height: 100px!important;
}
#intro.row{
	padding-top: 75px;
}
#get-in-touch.row,
#page-footer.row{
	min-height: 500px;
}
#page-header.row{
	background: yellow;
	margin-top: 0;
	height: 30px;
	min-height: 30px;
	padding-top: 0;
	position: fixed;
	z-index: 3000;	
}

.row .row{
	padding-top: 0;;
}
.section-header,
#logo{
	@include clearfix;
	@include grid-unit(5);	
}

.section-content,
.section-intro,
.section-nav,
#page-nav{
    @include clearfix;
    @include grid-unit(8);
    margin-right: 0;
    width: 66.666%;	
}

.section-nav{
	@include grid-unit(10);

}


img#flower{

}

// Type				-------------------------------------------------------

body{
 	@include sans-serif-font;
 	@include text-shadow;
 	background: #fff;
	/*background: #efeee3 url('/images/common/bg.png') fixed;*/
	color: #403f39;
	font-weight: 500; 
		
}
#logo h1{
	@include text-dark-bg;
	@include block-line-height;

	background: #000;
	font-size: 16px;
}
h1,h2,h3{
	text-transform: lowercase!important;
}

h3,dt{
	@include block-line-height;
	@include text-light-bg;	
	
	color: #fff;
	font-size: 14px;
		
}

h2{
	$default-text-shadow-h-offset: 	2px;
	$default-text-shadow-v-offset: 	2px;
	$default-text-shadow-color: 	#ffffff;
	@include text-shadow;
	
	background: none;
	color: #363530!important;
	font-size: 275%;
	font-weight: bold;
	height: auto;
	letter-spacing: -2px;
	line-height: 0.9em;
	margin-bottom: 20px;
	padding: 0;
	text-indent: 0;
	text-transform: lowercase;
	
}
#intro h2{
	font-size: 50px;

}
#intro h2 span{
	display: block;
	font-size: 30px;
	line-height: 35px;
	margin-top: 20px;	
}
#logo h2{
    display: none;
}

h3{
	
}
p,dd{
	margin-bottom: 20px;
}
dl p{
	margin-bottom: 7px;
}
dt{
	background: #dcdac8;
	color: #fff;
	clear: both;
	float: left;
	margin-bottom: 7px;
	padding: 0 5px;
	text-indent: 0;
}
dd{
	
	clear: both;
	float: left;
}
dl.techie-stuff{
    font-size: 11px!important;
    margin-top: 30px;
}
dl.techie-stuff dt{
	background: #B4B1A2;
	color: #fff;
	font-size: 11px!important;
	height: 20px;
	line-height:20px;
	
	$default-text-shadow-color: 	#000000;
	$default-text-shadow-h-offset: 0;
	$default-text-shadow-v-offset: 	0;
	@include text-shadow;	
}
dl.techie-stuff dd{
    color: $iamdash-grey;
}
dt{
	
}
.section-content ul li{
	background: url('/images/common/arrow-right.png') no-repeat 0 5px;
	margin-bottom: 7px;
	padding-left: 15px;
}
.section-content dl ul li,
.jqmWindow .section-content ul li{
	margin-bottom: 0;
}
a{
	@include el-transition;
	@include el-corner-radius;
	$default-text-shadow-color: 	#ffffff;
	$default-text-shadow-h-offset: 0;
	$default-text-shadow-v-offset: 	0;
	@include text-shadow;
	@include text-light-bg;
	background: #DCDAC8;
	color: #fff;
	padding: 3px;
	text-decoration: none;

}
a:hover{
	background: $iamdash-red;
}

blockquote{
	background: url('/images/common/quote.png') no-repeat 0 10px;
	font-style: italic;
	border-bottom: 1px solid #DCDAC8;
	border-top: 1px solid #DCDAC8;
	padding: 20px 20px 0 60px;
	min-height: 50px;
}

.section-nav li{
	@include block-line-height;
	
	float: left;
	margin-right: 3px;
	
}
.up-down{
	float: left;
	margin-bottom: 3px;
	position: absolute;
	right: 0;
	top:  20px;
	width: 66px;
	z-index: 4000;
}
#page-footer .up-down{
	right: 0;
}
#get-in-touch .up-down{
	
}
#intro .up-down{
	right: 0;
	top: 0;
	width:  30px;	
}
.up-down a,
.section-nav li a{
	@include block-line-height;
	@include block-line-height;
	@include text-light-bg;
	background: #dcdac8;
	color: #fff;
	padding: 0 5px;
	text-indent: 0;
}
.section-nav li a:hover{
	background-color: $iamdash-grey;
}

.section-nav li a.active{
	$default-text-shadow-h-offset: 0;
	$default-text-shadow-v-offset: 	0;
	@include text-shadow;	
	
	background-color: $iamdash-red;
	cursor: default;	
}
.up-down a{
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
    padding: 0;
    text-indent: -999em;
    width: 30px;

}
.up-down a.next{
    background: url('/images/icons/arrow-down.png') no-repeat bottom left;
}
.up-down a.next:hover{
    background: url('/images/icons/arrow-down.png') no-repeat top left;
}
.up-down a.previous{
    background: url('/images/icons/arrow-up.png') no-repeat top left;
}
.up-down a.previous:hover{
    background: url('/images/icons/arrow-up.png') no-repeat bottom left;
}

#get-in-touch .up-down{
	
}
#page-footer .up-down{
	
}


#project-images{
	margin-top: 20px;
}

#project-images li{
    @include grid-unit(5);
    
    background: #fff;
    height:  180px;
    margin-bottom: 20px;
    padding: 10px;
    outline: 1px solid #B4B1A2;
    overflow: hidden;
	width: 360px; 
}
#project-images a{
	cursor: default;
    display: block;
    height:  180px;
	width: 360px;  
}

#project-images li img{
    width: 100%
}
#project-images .active-project{
	cursor: pointer;    	
}
#project-images img.active-project{     	
}
#project-images li.omega{
	margin-right: 0!important;
}
#project-images li a{
	background: none;
	padding: 0;
	text-indent: 0;
}

/* Social media links
-------------------------------------------------------------- */

div#contact-links{
	height: 30px;
	margin-top: 60px;
	position: relative;
	width:  100%;	
}

ul.social-links{
	float: left;
    list-style: none;
}
ul.social-links li{
	float: left;
	height: 30px;
	margin-right: 5px;
	width: 30px;
}
.social-links a{
	background-position: 0 0;
	background-repeat: 0 0;
    border: 1px solid #eee;
	display: block;
	height: 30px;
    padding: 0;
	text-indent: -999em;
	width: 30px;
}
ul.social-links li a:hover{
    background-color: none!important;
    background-position: 0 -30px;
      
}
.flickr a,
.flickr a:hover{	background: url('/images/icons/flickr.png');		}
.linked-in a,
.linked-in a:hover{	background: url('/images/icons/linked-in.png');	}
.delicious a,
.delicious a:hover{	background: url('/images/icons/delicious.png');	}
.last-fm a,
.last-fm a:hover{	background: url('/images/icons/last-fm.png');	}


/**	jQmodal window	**/

a.jqmClose{
	cursor: pointer;
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 0;
	text-indent: 0;
	width: 20px;
}
.jqmWindow .section-header{
	margin-bottom: 20px;
	width: 35%;
}

.jqmWindow h2{
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 12px;
}
.jqmWindow h4{
	margin-bottom: 20px;
}
.jqmWindow h4 a{
	margin-right: 10px;
}
.jqmWindow dt{
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-right: 2px;
	width: 45px;
}
.jqmWindow dt,
.jqmWindow dd{
	display: block;
	clear: none;
	float: left;
	margin-bottom: 1px;
}
.jqmWindow dd{
	width: 180px;
}
.jqmWindow p{
	line-height: 20px;
}
.jqmWindow .copy{
	margin-top: 20px;
}
.jqmWindow .section-content{
	margin-top: 1px;
}
.jqmWindow .row{
	background: #fff;
	border: 1px solid #B4B1A2;
	margin-bottom: 0;
	min-height: 100px;
	padding: 10px 20px 50px 20px;
	position: relative;
	width: 758px;
}
/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -400px;
    width: 800px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid #B4B1A2;
    padding: 12px;
    z-index: 5000;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/**	Tipsy	**/

.tipsy {
	text-shadow: none!important;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	position: absolute;
	z-index: 4998; }
 
.tipsy-inner {
	background-color: #000;
	color: #FFF;
	max-width: 380px;
	padding: 5px 8px 4px 8px;
	text-align: center; }
 
 
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
.tipsy-arrow {
	border: 5px dashed #000;
	height: 0;
	line-height: 0;
	position: absolute;
	width: 0; }
 
/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
 
.tipsy-arrow-s { border-top-color: #000; }
 
.tipsy-arrow-e { border-left-color: #000; }
 
.tipsy-arrow-w { border-right-color: #000; }
 
.tipsy-n .tipsy-arrow {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	left: 50%;
	margin-left: -5px;
	top: 0px; }
 
.tipsy-nw .tipsy-arrow {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	left: 10px;
	top: 0; }
 
.tipsy-ne .tipsy-arrow {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	right: 10px;
	top: 0; }
 
.tipsy-s .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	left: 50%;
	margin-left: -5px; }
 
.tipsy-sw .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	left: 10px; }
 
.tipsy-se .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	right: 10px; }
 
.tipsy-e .tipsy-arrow {
	border-bottom-color: transparent;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	margin-top: -5px;
	right: 0;
	top: 50%; }
 
.tipsy-w .tipsy-arrow {
	border-bottom-color: transparent;
	border-left: none;
	border-right-style: solid;
	border-top-color: transparent;
	left: 0;
	margin-top: -5px;
	top: 50%; }
