@font-face {
  font-family: 'AkkuratMonoMono';
  src: url("../../fonts/akkurat-mono/akkurat-mono.eot");
  src: url("../../fonts/akkurat-mono/akkurat-mono.eot") format("embedded-opentype"), url("../../fonts/akkurat-mono/akkurat-mono.woff") format("woff"), url("../../fonts/akkurat-mono/akkurat-mono.ttf") format("truetype"), url("../../fonts/akkurat-mono/akkurat-mono.svg#AkkuratMonoMono") format("svg"); }

/* line 4, ../scss/main.scss */
body {
  background: #000;
  color: #fff;
  font-family: 'AkkuratMonoMono'; }

/* line 11, ../scss/main.scss */
#page {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 100px;
  width: 600px; }

/* line 20, ../scss/main.scss */
#dash {
  height: 50px;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  margin-top: -50px;
  top: 50%;
  width: 400px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  font-weight: bold; }
